 /* Overall body */
 * {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #fff;
  }

  /* Header og Navbar */
  header {
    background-color: #fff;
    color: #707070;
    padding: 15px 0;
}

.nav-container {
    max-width: 1200px;
    margin: 0;
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo img {
    height: 35px;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding-left: 75px;
    display: flex;
    
}

nav li {
    margin-right: 60px;
}

nav a {
    text-decoration: none;
    color: #707070;
    font-size: 20px;
    font-weight: 400; 
}

nav a:hover {
    color: #5B7523;
}

/* Hero img og tekst */

  .hero-image{
    background-image: linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url("/img/Svølle.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -65px;
  }

  .hero-image .hero-text{
    color: #fff;
    text-align: center;  
  }

  .hero-image .hero-text h1{
    font-size: 50px;
    font-weight: 400;
  }

  .hero-image .hero-text p{
    font-size: 30px;
    font-weight: 300; 
    line-height: 10px;
  }

  .hero-image .hero-btn{
    text-decoration: none;
    color: #fff;
    background: #5B7523;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
  }

  .hero-image .hero-btn:hover{
    background: #fff;
    color: #5B7523;
  }

  /* Første 3 columns */

  .row{
    display: flex;
    justify-content: center;
  }
  
  .column {
    width: 25%;
    height: auto;
    background-color: #FAEBDC;
    color: #707070;
    padding: 10px;
    margin: 40px ;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border-radius: 5px;

  }
  
  .column h1{
    font-size: 35px;
    font-weight: 400;
  }
 
  .column p{
    font-size: 20px;
    font-weight: 300; 
    padding-top: 15px;
    padding-bottom: 2px;
  }

  /* Billede (korn) og tekst */

  .container-nature{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 100px 40px 100px;
   }
   
   img{
     max-width: 870px;
     max-height: 900px;
     /* padding-left: 100px; */
   }
   
   .text-nature{
   padding-left: 80px;
   padding-right: 0px;
   color: #707070;
   }

   .text-nature h1{
    font-size: 35px;
    font-weight: 400;
   }

   .text-nature p{
    font-size: 20px;
    font-weight: 300;
   }

   .nature-btn{
    text-decoration: none;
    color: #fff;
    background: #5B7523;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
   }

   .nature-btn:hover{
    background: #FAEBDC;
    color: #5B7523;
   }


   /* 4 columns med ahhuuhhhmm billeder og tekst under */
.col-3{
  font-size: 20px;
  font-weight: 300; 
  color: #707070;
  margin: auto;
}

.col-3.one img{
  height: 100px;
  width: 100px;
}


/* Mark baggrund + tekst */

.hero-mark{
  background-image: linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url("/img/barley-field-1426269_1920.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-mark-text{
  color: #fff;
  text-align: center;  
}

.hero-mark-text h1{
  font-size: 50px;
  font-weight: 400;
}

.hero-mark-text p{
  font-size: 30px;
  font-weight: 300; 
  line-height: 10px;
}

/* 3 cols sammenhængende/efter mark */

.row.mark{
  display: flex;
  justify-content: center;
  background-color: #fff;
  flex-wrap: nowrap;
 }

.col-4 {
  width: auto;
  height: auto;
  background-color: #FAEBDC;
  color: #707070;
  padding: 30px;
  margin: 0px ; 
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border-radius: 0px;
}

.col-4 h1{
  font-size: 35px;
  font-weight: 400;
}

.col-4 p{
  font-size: 20px;
  font-weight: 300; 
  padding-top: 15px;
  padding-bottom: 2px;
}

.mark-btn{
  text-decoration: none;
  color: #fff;
  background: #5B7523;
  padding: 10px 30px;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
 }

 .mark-btn:hover{
  background: #fff;
  color: #5B7523;
 }



/* Divider linjer og speciale tekst */

.hr{
  border: 5px solid #5B7523;
  border-radius: 2px;
  margin: auto;
 
}

.container-speciale{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 50px 0 50px 0;
}

.container-speciale h1{
  font-size: 35px;
  font-weight: 400;
  color: #707070;
}


/* Specialer */

.col-3.cirkel{
  display: flex;
  justify-content: center;
  height: 35px;
  width: 35ps;
  margin-bottom: 50px;
}

.col-3.cirkel img{
  padding-right: 20px;
}


/* Hvem er vi section */

.who{
  display: flex;
  justify-content: center;
  margin: 100px;
}

.who h1{
  font-size: 35px;
  font-weight: 400;
  color: #707070;
}

.who p{
  font-size: 20px;
  font-weight: 300; 
}

.col-6{
  padding: 20px;
}

.card{
  float: left;
  width: 50%;
  padding: 5px;
  background-color: #FAEBDC;
  border: none;
  margin: 10px;
}

.who-btn{
  text-decoration: none;
  color: #fff;
  background: #5B7523;
  padding: 10px 30px;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
 }

 .who-btn:hover{
  background: #FAEBDC;
  color: #5B7523;

 }


 /* card slider med reviews */

.container-card{
  display: flex;
  justify-content: center;
  align-items: center;
 max-width: 950px;
 background: red;
 width: 100%;
 padding: 80px 0;
}

.container-card .main-card{
width: 200%;
background: grey;
display: flex;
justify-content: space-evenly;
}

.main-card .cards{
  width: calc(100% / 2 - 10px);
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.main-card .cards .card1{
  background: #FAEBDC;
  width: calc(100% / 3 - 10px);
  padding: 30px;
  border-radius: 24px;
}

 .cards .card1 .content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


 .cards .card1 .content .img1{
    height: 130px;
    width: 130px;
    margin-bottom: 14px;
    background: #E26957;
    padding: 3px;
    border-radius: 50%;
    
 }

 .card1 .content .img1 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #FAEBDC;
  
}

.card1 .content .details .name{
  font-size: 20px;
  font-weight: 500;
  color: #E26957;
}

.card1 .content .details .job{
  font-size: 20px;
  color: #707070;

}




























.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}