 /* Overall body */
 * {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
  body{
    background-color: #fff;
  }

  /* Header og Navbar */
  header{
    background-color: #fff;
    color: #707070;
    padding: 15px 0;
}

.nav-container{
    max-width: 1200px;
    margin: 0;
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo img{
    height: 35px;
    margin-left: 20px;
}

nav ul{
    list-style: none;
    margin: 0;
    padding-left: 75px;
    display: flex;
    
}

nav li{
    margin-right: 60px;
}

nav a{
    text-decoration: none;
    color: #707070;
    font-size: 20px;
    font-weight: 400; 
}

nav a:hover{
    color: #5B7523;
}

/* Hero img og tekst */

  .hero-image{
    background-image: linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url("/img/Svølle.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -65px;
  }

  .hero-image .hero-text{
    color: #fff;
    text-align: center;  
  }

  .hero-image .hero-text h1{
    font-size: 50px;
    font-weight: 400;
  }

  .hero-image .hero-text p{
    font-size: 30px;
    font-weight: 300; 
    line-height: 10px;
  }

  .hero-image .hero-btn{
    text-decoration: none;
    color: #FAEBDC;
    background: #5B7523;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
  }

  .hero-image .hero-btn:hover{
    background: #FAEBDC;
    color: #5B7523;
  }

  /* Første 3 columns */

  .row{
    display: flex;
    justify-content: center;
  }
  
  .column{
    width: 25%;
    height: auto;
    background-color: #FAEBDC;
    color: #707070;
    padding: 10px;
    margin: 40px ;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border-radius: 5px;

  }
  
  .column h1{
    font-size: 35px;
    font-weight: 400;
  }
 
  .column p{
    font-size: 20px;
    font-weight: 300; 
    padding-top: 15px;
    padding-bottom: 2px;
  }

  /* Billede (korn) og tekst */

  .container-nature{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 100px 40px 100px;
   }
   
   img{
     max-width: 870px;
     max-height: 900px;
     /* padding-left: 100px; */
   }
   
   .text-nature{
   padding-left: 80px;
   padding-right: 0px;
   color: #707070;
   }

   .text-nature h1{
    font-size: 35px;
    font-weight: 400;
   }

   .text-nature p{
    font-size: 20px;
    font-weight: 300;
   }

   .nature-btn{
    text-decoration: none;
    color: #fff;
    background: #5B7523;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
   }

   .nature-btn:hover{
    background: #FAEBDC;
    color: #5B7523;
   }


   /* 4 columns med ahhuuhhhmm billeder og tekst under */
.col-3{
  font-size: 20px;
  font-weight: 300; 
  color: #707070;
  margin: auto;
}

.col-3.one img{
  height: 100px;
  width: 100px;
}


/* Mark baggrund + tekst */

.hero-mark{
  background-image: linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url("/img/barley-field-1426269_1920.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-mark-text{
  color: #fff;
  text-align: center;  
}

.hero-mark-text h1{
  font-size: 50px;
  font-weight: 400;
}

.hero-mark-text p{
  font-size: 30px;
  font-weight: 300; 
  line-height: 10px;
}

/* 3 cols sammenhængende/efter mark */

.row.mark{
  display: flex;
  justify-content: center;
  background-color: #fff;
  flex-wrap: nowrap;
 }

.col-4{
  width: auto;
  height: auto;
  background-color: #FAEBDC;
  color: #707070;
  padding: 30px;
  margin: 0px ; 
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border-radius: 0px;
}

.col-4 h1{
  font-size: 35px;
  font-weight: 400;
}

.col-4 p{
  font-size: 20px;
  font-weight: 300; 
  padding-top: 15px;
  padding-bottom: 2px;
}

.mark-btn{
  text-decoration: none;
  color: #fff;
  background: #5B7523;
  padding: 10px 30px;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
 }

 .mark-btn:hover{
  background: #fff;
  color: #5B7523;
 }



/*Divider linjer */

.hr{
  border: 5px solid #5B7523;
  margin: auto;
}


/* speciale tekst */
.container-speciale{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 50px 0 50px 0;
}

.container-speciale h1{
  font-size: 35px;
  font-weight: 400;
  color: #707070;
}


/* Specialer */

.col-3.cirkel{
  display: flex;
  justify-content: center;
  height: 35px;
  width: 35ps;
  margin-bottom: 50px;
}

.col-3.cirkel img{
  padding-right: 20px;
}


/* Hvem er vi section */

.who{
  display: flex;
  justify-content: center;
  margin: 40px;
}

.col-6.hvem{
  padding: 120px 100px;
  
}

.who h1{
  font-size: 35px;
  font-weight: 400;
  color: #707070;
}

.who p{
  font-size: 20px;
  font-weight: 300; 
}

.col-6{
  padding: 20px;
}

.card{
  float: left;
  width: 50%;
  padding: 5px;
  background-color: #FAEBDC;
  border: none;
  margin: 10px;
}

.who-btn{
  text-decoration: none;
  color: #fff;
  background: #5B7523;
  padding: 10px 30px;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
 }

 .who-btn:hover{
  background: #FAEBDC;
  color: #5B7523;
 }



 /* Rewiew oversigt */

 .review-container{
  width: auto;
  height: auto;
  margin:  auto;
  overflow: hidden;
  background-color: #FAEBDC;
  display: flex;
  justify-content: center;
  padding: 100px;
}

.review{
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.testimonial{
  width: 100%;
  max-width: 400px;
  padding: 20px;
  margin: 0 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  color: #707070;
  border-radius: 5px;
}

.testimonial img{
  width: 100%;
  max-width: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.klient{
  margin-top: 10px;
  font-style: italic;
  font-size: 20px;
  font-weight: 500;
  color: #5B7523;
}


/* Nyhedsbrev */

.news{
  display: flex;
  justify-content: center;
}

.col-7{
  background-color: #5B7523;
  color: #FAEBDC;
  padding: 100px 40px 20px 40px;
  margin: 0px ;
  text-align: center;
  flex-direction: column;
}

form{
  border: 4px solid #5B7523;
}

.newsletter{
  padding: 20px;
  background-color: #5B7523;
}

input[type=text], input[type=submit]{
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #5B7523;
  box-sizing: border-box;
  border-radius: 5px;
}

input[type=checkbox]{
  margin-top: 16px;
}

input[type=submit]{
  background-color: #FAEBDC;
  color: #707070;
  border: none;
}

input[type=submit]:hover{
  opacity: 0.8;
}


/* Footer */

.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  padding-top: 40px;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #707070;
}

.footer-content h3{
  font-size: 30px;
  font-weight: 400;
  line-height: 48px;
  padding-top: 40px;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0 48px 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #5B7523;
}

.socials a i{
  font-size: 17.6px;
  transition: color .4s ease;
}

.socials a:hover i{
  color: #707070;
}

.footer-bottom{
  background: #333333;
  width: auto;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  color: #FAEBDC;
}

.footer-bottom span{
  opacity: .4;
  font-weight: 200;
}

/* Hero hest - Børn og unge */

.hero-hest{
  background-image: linear-gradient(
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.7)),
    url("/img/iceland-1747368_1280.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-top: -65px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-hest-text{
  color: #FAEBDC;
  text-align: center;  
}

.hero-hest-text h1{
  font-size: 60px;
  font-weight: 400;
}

.hero-hest-text p{
  font-size: 30px;
  font-weight: 300; 
  line-height: 10px;
}

/* Billede og tekst - Børn og unge */

.container-born{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
 }
 
 .image-born img{
   width: 700px;
   height: 500px;
 }
 
 .text-born{
 padding-left: 40px;
 padding-right: 0px;
 color: #707070;
 margin: 40px;
 }

 .text-born h1{
  font-size: 35px;
  font-weight: 400;
 }

 .text-born p{
  font-size: 18px;
  font-weight: 300;
 }

 .born-btn{
  text-decoration: none;
  color: #fff;
  background: #5B7523;
  padding: 10px 30px;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
 }

 .born-btn:hover{
  background: #FAEBDC;
  color: #5B7523;
 }

 /* Pippi Quote */

 .hero-blade{
  background-image: linear-gradient(
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.7)),
    url("/img/forest-1868529_1280.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-blade-text{
  color: #707070;
  text-align: center;  
}

.hero-blade-text:hover{
  color: #FAEBDC;
}

.hero-blade-text h1{
  font-size: 50px;
  font-weight: 400;
}

.hero-blade-text p{
  font-size: 30px;
  font-weight: 300; 
  line-height: 10px;
}


/* Billede og tekst kvinder */

.container-kvinde{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
 }
 
 .image-kvinde img{
   width: 700px;
   height: 500px;
 }
 
 .text-kvinde{
 padding-left: 40px;
 padding-right: 0px;
 color: #707070;
 margin: 40px;
 }

 .text-kvinde h1{
  font-size: 40px;
  font-weight: 400;
 }

 .text-kvinde p{
  font-size: 18px;
  font-weight: 300;
 }

 .kvinde-btn{
  text-decoration: none;
  color: #fff;
  background: #5B7523;
  padding: 10px 30px;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
 }

 .kvinde-btn:hover{
  background: #FAEBDC;
  color: #5B7523;
 }


 /* Kontakt formular */


 /* Style inputs with type="text", select elements and textareas */
input[type=tekst], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc;
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=send] {
  background-color: #5B7523;
  color: white;
  padding: 12px 20px;
  border: none; 
  border-radius: 4px;
  cursor: pointer;
  justify-content: center;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=send]:hover {
  background-color: #5B7523;
}

/* Add a background color and some padding around the form */
.container-kontakt {
  border-radius: 5px;
  background-color: #FAEBDC;
  padding: 20px;
}

form[action=action_page]{
  border:none;
}















.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}